.sobre-container {
        max-width: 800px;
        margin: 40px auto;
        background: #0e1a49;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.08);
        padding: 32px;
        text-align: center;
}

.sobre-container img {
    height: 120px;
    margin-bottom: 24px;
}

.sobre-container h1 {
    font-family: var(--fonte-destaque);
    font-size: 2.5rem;
    margin-bottom: 16px;
    color: #F2541B;
}

.sobre-container p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.sobre-container h2 {
    font-family: var(--fonte-destaque);
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.localizacao h2{
    color: #F2541B;
}
